# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [1]:
# Assign a list to an variable named my_list
my_list = [10,9,8,7,6,5,4,3,2,1]

print(my_list)

list1=[]
print(list1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

We just created a list of integers, but lists can actually hold different object types. For example:

In [2]:
my_list = ['string',23,100.232,'o',True]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [3]:
len(my_list)

5

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [4]:
my_list = ['one','two','three',4,5]

In [5]:
# Grab element at index 0
my_list[0]

'one'

In [6]:
# Grab index 1 and everything past it
my_list[0:4]

['one', 'two', 'three', 4]

In [7]:
# Grab everything UP TO index 3
my_list[:3]
my_list[::-1]

[5, 4, 'three', 'two', 'one']

We can also use + to concatenate lists, just like we did for strings.

In [8]:
#my_list=my_list + ['new item']


my_list=[10,14,45]

my_list + ["Hello"]

[10, 14, 45, 'Hello']

Note: This doesn't actually change the original list!

In [9]:
my_list

[10, 14, 45]

You would have to reassign the list to make the change permanent.

In [10]:
# Reassign
my_list = my_list + ['add new item permanently']

In [11]:
my_list

[10, 14, 45, 'add new item permanently']

In [12]:
lst=[1,2,3,5]
lst=lst + [7,9,"hello"]
lst

[1, 2, 3, 5, 7, 9, 'hello']

We can also use the * for a duplication method similar to strings:

In [13]:
# Make the list double
lst * 3

[1,
 2,
 3,
 5,
 7,
 9,
 'hello',
 1,
 2,
 3,
 5,
 7,
 9,
 'hello',
 1,
 2,
 3,
 5,
 7,
 9,
 'hello']

In [14]:
# Again doubling not permanent
my_list=my_list*3
my_list

[10,
 14,
 45,
 'add new item permanently',
 10,
 14,
 45,
 'add new item permanently',
 10,
 14,
 45,
 'add new item permanently']

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [15]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [16]:
# Append

list1.append('append me!')

In [17]:
# Show
list1

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [18]:
# Pop off the 0 indexed item
list1.pop(0)
list1

[2, 3, 'append me!']

In [19]:
# Show
list1.pop()
list1

[2, 3]

In [20]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [21]:
popped_item

3

In [22]:
# Show remaining list
list1

[2]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [23]:
list1[100]

IndexError: ignored

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [24]:
new_list = ['a','e','x','b','c']

In [25]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [26]:
# Use reverse to reverse order (this is permanent!)
print(new_list)
new_list.reverse()
print(new_list)


new_list=new_list[::-1]

['a', 'e', 'x', 'b', 'c']
['c', 'b', 'x', 'e', 'a']

In [27]:
new_list

['a', 'e', 'x', 'b', 'c']

In [28]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
#new_list.sort()
new_list.sort(reverse=True)

In [29]:
new_list

['x', 'e', 'c', 'b', 'a']

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [30]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [31]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [32]:
# Grab first item in matrix object
matrix[-1][-1]

9

In [33]:
# Grab first item of the first item in the matrix object
matrix[0][0]
matrix[:2]

[[1, 2, 3], [4, 5, 6]]

# List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [34]:
print(matrix)
temp_list=[]
for i in matrix:
  temp_list.append(i[0])
temp_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[1, 4, 7]

In [35]:
# Build a list comprehension by deconstructing a for loop within a []
print(matrix)
first_col = [row[0] for row in matrix]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [36]:
first_col

[1, 4, 7]

In [37]:
list1=[["Rohan",30,25000,"Dehradun"],["Mohit",27,56000,"Delhi"]]
list1

[['Rohan', 30, 25000, 'Dehradun'], ['Mohit', 27, 56000, 'Delhi']]

We used a list comprehension here to grab the first element of every row in the matrix object. We will cover this in much more detail later on!

For more advanced methods and features of lists in Python, check out the Advanced Lists section later on in this course!

In [38]:
sum=0
for i in list1:
  print("name=",i[0],"address=",i[3],"age=",i[1])
  sum=sum+i[2]
print("total sal=",sum)

name= Rohan address= Dehradun age= 30
name= Mohit address= Delhi age= 27
total sal= 81000

In [47]:
list2=[["Rohan",30,25000,["H. No 25","Prem Nagar","Dehradun",248001]],["Mohit",27,56000,["H. No 31","Ber Sarai","Delhi",256007]]]

print(list2[1][3][3])
list2[1][3][0]="H No. 679"
list2[1]

256007

['Mohit', 27, 56000, ['H No. 679', 'Ber Sarai', 'Delhi', 256007]]